.sidebar {
  background-color: #1c2536;
  color: #fff;
  width: 220px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12%;
  padding-top: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}


.sidebar .logo p {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imgLogo {
  width: 30%;
  margin-left: 2%;
}
