.col {
  flex: 1 1 auto;
  min-width: 190px;
  max-width: 20vw;
  max-height: 20vh;
  border-radius: 7%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
  gap: 30px;
}


.amount{
  min-width: 90px;
}

.amount p:nth-child(1), p:nth-child(3){
  color: gray;
}


.amount p:nth-child(3){
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

.amount p:nth-child(2){
  position: relative;
  left: 20px;
  font-weight: bold;
  font-size: 30px;
}


.log_squad{
  font-size: 2em;
  max-width: 100%;
  
}

.amount p span img {
  position: relative;
  top: 2.5px;
}
