.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px 0 0 ;
  background: rgb(255 255 255);
  margin-left: 200px; /* El mismo ancho del sidebar */
  max-width: 100vw;
}

.content {
  flex: 1;
  padding: 0px 15px;
}

.lineMain{
  /* margin-bottom: 10px; */
  opacity: 0.08;
  border: 1px solid #000;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 35px;
  }
}