.navbar {
  background-color: #faf8f8;
  padding: 10px;
  margin-top: 16px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
}

